.div1{
    background-color: rgba(255, 255, 255,0.2);
    border: 0px solid black;
    width: 25%;
    height: 300px;
    text-align: center;
    margin-left:37.5% ;
    margin-top: 10%;
    color: white;
}
body{
    background-image: url('images/loginpage.avif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
